html
    head
        title User Manager
        h1 User Manager
    body
        form(action="/createUser", method="POST")
            div
                label(for='firstname') First Name: 
                input(name='firstname')
            div
                label(for='lastname') Last Name:
                input(name='lastname')
            div
                label(for='email') Email:
                input(name='email', type='email')
            div
                label(for='age') Age:
                input(name='age', type='number')
            div
                label(for='password') Password:
                input(name='password', type='password')
            div
                button(type='submit') Add User
        h4 
            a(href='/users-list') View Users